
body{
  color: rgb(255, 255, 255);
  text-align: center;
}
.topheader{
  /* position: fixed; */
  background-image: url("valuescalegreen.jpg") ;
  background-size: cover;
  height: 70px;
  width: 100%;
  /* background-color: rgb(16, 236, 45); */
  color: black;
  display:table;
}
.textcontent{
  font-size: 3em;
  text-align: center;
  display:table-cell;
  vertical-align:middle ;
}
/* .table{ flexbo
  background-color: rgb(255, 255, 255);
  color: black;
    /* display: inline-block; */
    /* min-width: 50%;
    min-height: 50%; */
    /* padding: 20px;
    border: 1px solid rgb(100, 60, 14);
    border-radius: 21px; */
    /* margin: auto; */
  /* } */ 
.screenfull{
  align-content: center;
  height: 200px;
  width: 70%;
  max-width: 750px;
  background-color: white;
  color: black;
}
/* .tabscr{
  height: 50%;
  min-width: 50%;
} */
.table1{ 
  /* width: 260px;
  height: 260px; */
  background-color: brown;
  border: 1px solid rgb(16, 236, 45);
  border-radius: 21px;
  margin: auto;
  display: inline-block;
  font-size: 25px;
}
.countdown{
  font-size: 168px;
  align-items: center;
  color: black;
}
.a{
  position: relative;
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: rgb(60, 63, 60);
  color: rgb(16, 236, 45);
  border: black;
}
.b{
  position: relative;
  height: 30px;
  width: 150px;
  background-color: rgb(60, 63, 60);
  color: rgb(16, 236, 45);
  border: black;
}
.scores{
  display: block;
  position:relative;
}
.button{
  margin: 4px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 128, 0,1.0);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(255,0,0);
  border-radius: 4px;
}
.bt{
  color: black;
}
.button:hover {
    transform: scale(1.0);
    cursor: pointer;
    background-color: white;
  }
.marquee {
    height: 40px;
    width: 322px;
    border: 1px solid #eee;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 100px auto;
}
  
.marquee--inner {
  display: block;
  width: 200%;
  position: absolute;
  animation: marquee 20s linear infinite;
}
span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@media screen and (orientation : portrait){
  body{
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .topheader{
    /* position: fixed; */
    background-image: url("valuescalegreen.jpg") ;
    background-size: cover;
    height: 70px;
    width: 100%;
    /* background-color: rgb(16, 236, 45); */
    color: black;
    display:table;
  }

  .textcontent{
    font-size: 2em;
    text-align: center;
    display:table-cell;
    vertical-align:middle ;
  }

  .screenfull{
    align-content: center;
    margin: 0px;
    text-align: center;
    height: 600px;
    width: 90%;
    max-width: 1000px;
    background-color: white;
    color: black;
 }

 /* .tablescr{
   line-height: 600px;
 } */
 

  .b{
    padding: 0;
    margin: 5px;
    position: relative;
    height: 60px;
    font-size: 1em;
    width: 45%;
    background-color: rgb(60, 63, 60);
    color: rgb(16, 236, 45);
    border: black;
    white-space: nowrap;
  }

  .a{
    position: relative;
    font-size: 1em;
    height: 60px;
    width: auto;
    text-align: center;
    background-color: rgb(60, 63, 60);
    color: rgb(16, 236, 45);
    border: black;
  }

  .button{
    margin: 4px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 128, 0,1.0);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: 120px;
    width: 120px;
    border: 1px solid rgb(255,0,0);
    border-radius: 4px;
  }
  .bt{
    color: black;
    line-height: 120px;
    margin: 14px;
  }
}